.brand-gradient {
        background: #121FCF;
        background: linear-gradient(to top right, #121FCF 0%, #8ACF00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-holder {
        background-image: url(img/Banner.jpg);
        background-size: cover;
        background-position: bottom;
    }

    .custom-nav {
        backdrop-filter: blur(8px);
    }